<!--страница подробностей объявления-->

{% extends 'flatpages/default.html' %}

{% block title %} Подробности объявления - {{ advert.title }} {% endblock title %}

{% block content %}<br>

<h2>Подробности объявления</h2>
<hr size="5" style="color: #0099ff;"/>

<h4>{{ advert.title }}</h4>
<br>
Автор: {{ advert.user }}({{ advert.user.first_name }} {{ advert.user.last_name }}); Категория: {{ advert.category }}; Дата создания: {{ advert.dateCreation }}
<br><hr>

{{ advert.content | safe }}<br><br>


<!--кнопки редактирования / удаления объявления
видимы в том случае, если пользователь является автором объявления-->
{% if edit_delete %}
<a href="{% url 'edit' advert.id %}"><u><strong><span style="color: #33ff33;">Редактировать</span></strong></u></a> /

<a href="{% url 'delete' advert.id %}"><u><strong><span style="color: #ff6600;">Удалить</span></strong></u></a>

{% endif %}


<!--сообщение, которое выводится после отправления отклика-->
{% if message_response %}
<h6>Ваш отклик успешно отправлен</h6><br>
{% endif %}


<!--поле для ввода отклика, видимо, когда пользователь не является автором
данного объявления и ранее еще не отравлял отклик-->
{% if field_response %}
<h6>Введите ваши контакты</h6><br>
<form method="POST">
    {% csrf_token %}
    {{ form.text }}
    <input type="submit" value="Оставить отклик">
</form><br><br>
{% endif %}


<hr>
{% endblock content %}